@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');

.racing-sans-one-regular {
  font-family: "Racing Sans One", serif;
  font-weight: 400;
  font-style: normal;
}

html body {
}

html body section:not(:nth-of-type(1)) {
    margin 20px 20px 20px 20px;
    margin: 20px;
}

* {
    cursor: default;
}

.post .create {
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.create div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: stretch;
}

.create div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.create div h3 {
    margin: 0px 9vw;
    font-size: 30px;
    font-family: monospace;
}

.create > div > h2 {
    background: #dfdede;
    width: 85vw;
    height: 60px;
    align-items: center;
    display: flex;
    font-family: system-ui;
    font-size: 35px;
    justify-content: center;
    border-radius: 10px;
}

html {
    padding: 0;
    background-color: #c5c5c5;
}

html body {
    margin: 0;
}

html body section {
    background-color: white;
    padding: 20px;
}

html body div#cover {
    text-align:  center;
    height: 59vh;
}
html body div#cover img {
    width: 100%;
    height: 180px;
    min-height: 65vh;
    object-fit: cover;
}

html body div#nav div {
    display: flex;
}

html body div#nav div button {
    margin: 0px 0px 0 25px;
    font-size: 40px;
    background: none;
    border: none;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: bold;
    width: 190px;
    height: 80px;
    border-radius: 10px;
}

html body div#nav div button:hover {
    background-color: #d0d0d0
}



html body div#menu div#button div p {
    font-size: 45px;
    color: white;
    margin: 10px;
    font-family: sans-serif;
}

html body div#menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
}
html body div#menu div#headings {
    width: 840px;
}

html body div#menu div#headings h1 {
    font-size: 70px;
    font-family: Racing Sans One;
    font-weight: normal;
    margin: 70px 0px 5px 0px;
}
html body div#menu div#headings h2 {
    font-size: 30px;
    font-family: sans-serif;
    font-weight: lighter;
    margin: 0;
}

html body div#menu img {
    border-radius: 100%;
    border: 25px solid white;
    margin: -100px 0 0 0px;
    width: 245px;
    aspect-ratio: 1 / 1;
    height: auto;
    min-width: 300px;
    object-fit: cover;
}

html body div#menu div#button {
    align-content:center;
    
}

html body div#menu div#button  {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    width: 550px;
} 

html body div#menu div#button div {
    text-align: center;
    align-content: center;
    background-color: #62a5ff;
    width: 100%;
    height: 70px;
    border-radius: 10px;
    margin-right: 20%;
}

html body section.post div img, .pfp {
    border-radius: 50%;
    border: 5px solid #c0c0c0;
    margin: 0px 0 0 0px;
    width: 105px;
    height: 105px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

html #members section.post {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    white-space: nowrap;
    overflow-x: auto;
    flex-wrap: nowrap;  /* Prevents wrapping */
    border-radius: 0px 0px 10px 10px;
}

html #about section.post {
}

html body section.post div#banner {
    display: flex;
    margin-bottom: 20px;
    flex-direction: row;
}


html body section.post div#banner div {
    margin: 0px 0px 0px 30px;
}

html body section.post div#banner div h5 {
    font-size: 35px;
    font-family: 'Racing Sans One';
    margin: 0;
    font-weight: 100;
}


html body section.post div#banner div h6 {
    font-size: 20px;
    margin: 0;
    font-family: sans-serif;
    font-weight: lighter;
}

#banner > div > h5 {
    font-family: racing-sans-one-regular
}


.post p {
    font-size: 40px;
    font-family: math;
}
.post div.story:hover {
     transform: scale(1.05);
}
.post div.story {
    display: flex;
    border-radius: 20px;
    flex-shrink: 0;
    background-color: blue;
    height: 300px;
    margin-right: 10px;
    width: 189px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    background-size: cover;
    transition: transform 0.05s ease-in-out;
}

.post div.story:nth-child(11) {
    margin: 0;
}

.post div  p {
    font-size: 10px !important;
    font-family: sans-serif;
}

.post > .story > img {
    border-color: white;
    margin: 15px 0 0 15px;
    width: 58px;
    height:  58px;
    object-fit: cover;
    cursor: pointer;
}

#members .post div  p {
    font-size: 15px !important;
    font-family: sans-serif;
    margin: 15px;
    font-weight: bold;
    color: white;
    text-wrap: auto;
}
::-webkit-scrollbar {
    width: 12px;
    height: 12px; 
}

::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px; 
}

::-webkit-scrollbar-thumb:hover {
    background: #8f8f8f;

}

html body#soto {
    display: flex;
}

#diaz {
    background-position-x: center;
    background-image: url("members/randomDiaz.jpg");
    background-position-x: center;
}

#magtagad {
    background-position-x: center;
    background-image: url("members/randomMagtagad.jpg");
    background-position-x: center;
}


#casuga {
    background-position-x: center;
    background-position-x: center;
}

#asiwagan {
    background-position-x: center;
    background-image: url("members/randomAsiwagan.jpg");
    background-position-x: center;
}

#campos {
    background-position-x: center;
    background-image: url("members/randomCampos.jpg");
    background-position-x: center;
}


#cruz {
    background-position-x: center;
    background-image: url("members/randomCruz.jpg");
    background-position-x: center;
}

#jacobe {
    background-position-x: center;
    background-image: url("members/randomJacobe.jpg");
    background-position-x: center;
}

#soto {
    background-position-x: center;
    background-image: url("members/randomSoto.jpg");
    background-position-x: center;
}


#deGuzman {
    background-position-x: center;
    background-image: url("members/randomDeGuzman.jpg");
    background-position-x: center;
}


#agriam {
    background-position-x: center;
    background-image: url("members/randomAgriam.jpg");
    background-position-x: center;
}


#rioveros {
    background-position-x: center;
    background-image: url("members/randomRioveros.jpg");
    background-position-x: center;
}

div#casuga.story {background: linear-gradient(0deg, #000000, #0048ff87);}


#home > section:nth-child(3) > img {
    width: 100%;
}