@keyframes bgColor {
    0% {background-position: 0% 50%;}
        100% {
    background-position: 100% 50%;
}
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(45deg, #000000, transparent);
    animation: 8399.76ms ease-in-out -5.61062ms infinite alternate none running bgColor;
    background-size: 200% 200%;
}

.profile-card {
    display: flex;
    width: 100vw;
    overflow: hidden;
    height: 100vh;
    justify-content: center;
}
.profile-card .left {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-card .left img {
    height: 80%;
    width: 70%;
    border-radius: 10px;
    object-fit: cover;
}
.profile-card .right {
    padding: 20px;
    width: 65%;
    border: none;
}
.profile-card h1 {
    font-size: 330%;
    margin: 0;
    margin: 40px 0 0 0;
}
.profile-card .section {
    min-width: 230px;
    margin: 20px 0;
}
.profile-card .section h2 {
    font-size: 2rem;
    margin-bottom: 0px;
    color: #000000;
}
.profile-card .section p {
    font-size: 1rem;
    margin: 18px 0 0 0;
}
.profile-card .icons {
    display: flex;
    justify-content: space-between;
}
.profile-card .icons img {
    margin: 0 35px;
    width: 24%;
    aspect-ratio: 1/1;
    border-radius: 10px;
    object-fit: cover;
    background: #e0f7fa;
}

.profile-card .icons img:nth-child(1) {
    object-position: 4% 10%;
}
.profile-card .icons img:nth-child(2) {
    object-position: 50% 50%;
}
.profile-card .icons img:nth-child(3) {
    object-position: 70% 60%;
}

.profile-card .right .divider {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    align-content: flex-start;
}

.profile-card .right .divider .section button:hover {
    background-color: #0000006e
}

.profile-card .right .divider .section button {
    margin: 0 0px auto auto;
    display: block;
    width: 100px;
    color: white;
    height: 100px;
    border-radius: 50%;
    border: none;
    font-size: 40px;
    background-color: #00000017;
    cursor: pointer;
}

img {
    animation: fadeIn 1.5s ease-in-out forwards;
}

@keyframes fadeIn{
    0% {opacity: 0; transform: translate(0, 10px);}
   100% {opacity: 1; transform: translate(0, 0px);}
}

